* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding-top: 13rem;
}

.header {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
}

.input-box {
  margin-bottom: 1.5rem;
}

.input-box input {
  font-family: inherit;
}

.input-box:nth-child(2) {
  margin-bottom: 3rem;
}

.input-box:last-child {
  display: flex;
  justify-content: center;
}

.input-box:last-child input[type="submit"] {
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
}

.todo-table {
  border: solid 1px #000;
  border-collapse: collapse;
}

.todo-table tr {
  border: solid 1px #000;
}

.todo-table td,
.todo-table th {
  border: solid 1px #000;
  padding: 1.8rem 2.5rem;
}

.todo-table th {
  background-color: #000;
  color: #fff;
}
